<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
    <system.serviceModel></system.serviceModel>

    <system.webServer>
      <!--<staticContent>
        <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      </staticContent>-->
      <modules>
        <remove name="OutputCache" />
        <!--<add name="CSSModule" type="CSSModule" />-->
      </modules>
      <caching>
        <profiles>
          <!--<add extension=".ashx" policy="DontCache" kernelCachePolicy="DontCache" />-->
          <!--<add extension=".css" policy="DontCache" kernelCachePolicy="DontCache" />-->
        </profiles>
      </caching>
      <staticContent>
        <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />-->
      </staticContent>
    </system.webServer>
</configuration>